/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
    &.blue-snackbar {
        --mdc-snackbar-container-color: rgb(7, 149, 243);
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }

    &.green-snackbar {
        --mdc-snackbar-container-color: green;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }

    &.red-snackbar {
        --mdc-snackbar-container-color: red;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }

    &.yellow-snackbar {
        --mdc-snackbar-container-color: yellow;
        --mat-mdc-snack-bar-button-color: black;
        --mdc-snackbar-supporting-text-color: black;
    }
}